<form action="/posts/<%=@post.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Post Name</label>
  <br>
  <input type="text" id="name" name="post[name]" value="<%= @post.name %>">
  <br>
  <br>
  <label>Post Content</label>
  <br>
  <input type="text" id="content" name="post[content]" value="<%= @post.content %>">
  <br>
  <br>
  <input type="submit" id="submit">
</form>
