

<form method="POST" action="/posts">
  <label>Name of Blog Post</label>
  <br>
  <input type="text" name="name">
  <br>
  <br>
  <label>Content of Post</label>
  <br>
  <input type="text" name="content">
  <br>
  <br>
  <br>
  <input id="submit" type="submit">
</form>
